:javascript
  $( document ).ready(function() {
    $(".more-btn").on('click', function(){
      $(this).hide();
      $(this).siblings(".less-btn").show();
      $(this).siblings(".description").removeClass("more").addClass("less");
    });
    $(".less-btn").on('click', function(){
      $(this).hide();
      $(this).siblings(".more-btn").show();
      $(this).siblings(".less").removeClass("less").addClass("more");
    });
  });

%h1 Reading List
%h2.pad-bottom
  Reading your way to
  %em excellence

- @books.each do |book|
  .col-sm-6.col-lg-4
    .panel.book-panel{ class: "#{book.category.downcase.gsub(' ', '_')}"}
      .panel-heading
        .title= book.title
        .value= "$#{book.value}"
      .picture{style: "background-image: url('#{book.picture_url(:small)}');"}
      .buttons
        .col-xs-6.button.first
          = book.buy_url.html_safe
        .col-xs-6.button
          = link_to 'Review', new_review_path(book_id: book.id)
      .description-container
        .description.more
          = book.description
        .more-btn MORE
        .less-btn LESS
      .panel-footer
        .category= book.category